@mixin descendant-color($value) {
  color: $value;
  /deep/ * {
    color: $value;
  }
}

@mixin descendant-bkg-color($value) {
  background-color: $value;
  /deep/ * {
    background-color: $value;
  }
}

// 初始化元素属性，避免宿主页面与选择器同名时受影响
@mixin initial() {
  width: initial;
  height: initial;
  padding: initial;
  margin: initial;
  border: initial;
  position: initial;
}
