// 给当前元素以及后代元素设置属性
@mixin descendant-attr($name, $value) {
  #{$name}: $value;
  /deep/ * {
    #{$name}: $value;
  }
}

// 初始化元素属性，避免宿主页面与选择器同名时受影响
@mixin initial() {
  width: initial;
  height: initial;
  padding: initial;
  margin: initial;
  border: initial;
  position: initial;
}
