/* web-console UI structure */
$panel-height: 75vh;

$footbar-height: 40px;

$tabbar-height: 40px;

$list-row-height: 38px;

/* color */
$default-color: rgb(48, 57, 66);

$tabbar-bg-color: rgb(243, 243, 243);
$tabbar-border-color: rgb(205, 205, 205);

$tab-fg-color: rgb(90, 90, 90);
$tab-selected-fg-color: rgb(51, 51, 51);

$toolbar-bg-color: rgb(243, 243, 243);
$toolbar-border-color: rgb(205, 205, 205);

$divider-color: #d0d0d0;

$dom-tag-name-color: rgb(136, 18, 128);
$dom-attribute-name-color: rgb(153, 69, 0);
$dom-attribute-value-color: rgb(26, 26, 166);
$dom-link-color: rgb(17, 85, 204);

/* font */
$primary-font-size: 15px;
$secondary-font-size: 13px;
$source-code-font-size: 14px;
$font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
