$primary-font-size: 15px;
$source-code-font-size: 14px;

$toolbar-bg-color: rgb(243, 243, 243);
$toolbar-border-color: rgb(205, 205, 205);

$tab-fg-color: rgb(90, 90, 90);
$tab-selected-fg-color: rgb(51, 51, 51);